<!DOCTYPE html>
<html>
    <body>
        <h1><%=@super_team[:name]%></h1>
        <br>
        <br>
        <h2>Team Motto:<%=@super_team[:motto]%>
        <br>
        <br>
        <h2>Hero Name:<%=@members.name%></h2>
        <br>
        <br>
        <h3>Hero Power:<%=@members.power%></h3>
        <h3>Hero Bio:<%=@members.bio%></h3>
        <br>
        <br>
        <h2>Hero Name:<%=@members.name%></h2>
        <br>
        <br>
        <h3>Hero Power:<%=@members.power%></h3>
        <h3>Hero Bio:<%=@members.bio%></h3>
        <br>
        <br>
        <h2>Hero Name:<%=@members.name%></h2>
        <br>
        <br>
        <h3>Hero Power:<%=@members.power%></h3>
        <h3>Hero Bio:<%=@members.bio%></h3>
    </body>
</html>
