<h1>Superhero Team!</h1>

<h2>Team Name: <%= @team.name %></h2>
<p>Team Motto: <%= @team.motto %></p>

<% @members.each do |e| %>
    <div class="member">
        <h2>Hero Name: <%= e.name %></h2>
        <p>Hero Power: <%= e.power %></p>
        <p>Hero Biography: <%= e.bio %></p>
    </div><br>
<% end %>